/* You can add global styles to this file, and also import other style files */
@import url('../node_modules/colors.css/css/colors.css');
html,body,.app-root {
  width: 100%;
  height: 100%;
  font: 14px/1.5 'microsoft yahei',helvetica,clean,sans-serif;
}

.app-root {
  display: flex;
  flex-direction: row;
}
.app-root > .app-sidebar {
  width: 96px;
  color: #fff;
}
.app-root > .app-container {
  flex: 1;
  height: 100%;
}
.app-root > .app-container .app-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.app-root .md-list {
  width: 260px;
  overflow-y: scroll;
}
.app-root .md-container {
  flex: 1;
  overflow-y: auto;
}
